
.route{
    margin-top: 15%;
    margin-bottom: 10%;
    background-color: bisque;
}

.portrait{
    float: left;
    margin-left: 50px;
    width: 40%;
    margin-top: 100px;
   

}
.aboutText{
    float: right;
    margin-right: 100px;
    margin-top: 65px;
    width: 40%;
    font-size: 30px;
}

@media screen and (max-width:500px){
    .route{
        display: inline-block;
    }
   .portrait{
       width: 80%;
   }
   .aboutText{
       display: block;
       width: 70%;
   }
}

